html {
    background-color: lightskyblue;
}

body {
    font-family: 'Baloo Tammudu 2', cursive;
    color: white;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    border-radius: 15px;
    background-color: black;   
}

h1 {
    padding: 0px;
    margin: 0px
}

img {
    border-radius: 15px;
}

header li {
    text-align:left;
    display: flex;
}

header {
    margin: 0px;
}

form {
    border-radius: 15px;
}

label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
}

input {
    float: left;
    text-align: left;
    margin-right: 15px;
    width: 200px;
}

button {
    width: 200px;
    font-family: 'Baloo Tammudu 2';
    background: lightseagreen;
    color: white;
    border-radius: 15px;
}



a:link {
    color: lightsalmon;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: salmon;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: orangered;
    background-color: transparent;
    text-decoration: underline;
}

aside {
    border: medium solid lightsalmon;
    border-radius: 15px; 
}

ul {
    max-height: 200px;
    overflow-y: scroll;
    border: medium solid lightsalmon;
    border-radius: 15px; 
    list-style-position: inside;
}

li {
    margin: 5px;
    size: 20px;
    border: medium solid black;
    border-radius: 15px;
    text-align:left; 
}

li:hover {
    border: medium solid white;
    background-color: gray;
    border-radius: 15px; 
}

.hide {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;    
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* background: #c2c9d2; */
    background: lightskyblue
}

@media (min-width: 500px) {
    body {
        width: 70%;
        justify-content: center;
    }

    ul {
        width: 75%;
        
    }
    
    header ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width: 900px) {
    body {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        columns: 3;
        
    }
    
    div {
        width: 40%;
        height: 40%;
        margin: 5%;
    }
    
    header ul {
        display: flex;
        justify-content: space-between;
    }
}